body {
    background-image: url("basketball-hoop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 68px;
    text-align: center;
    color: white;
    opacity: .95;
}

.navbar-custom{
    background-color: black;
    height: 80px;
    padding-top: 10px;
    padding-left: 450px;
    opacity: .9
    
}

.navbar-nav a{
color:white;
    font-size: 30px
}

.nav navbar-nav {
    text-align: center
}

.box {
    background-color: rgba(255,255,255,0.8);
    padding-top: 50px;
    width: 1000px;
    height: 700px;
    margin-right: 30px;
    margin-left: 450px;

}

.word {
    margin-left: 100px;
}

#shift {
    margin-left: 100px
}

#shift2 {
    margin-left: 100px;
    font-size: 20px
}

.form-control {
    width:300px
}
.input-size {
    width: 300px;
    margin-left:50px;
    margin-top: 50px
    
}

.label-shift {
    margin-left: 50px;
}

.label-shift2 {
    margin-left: 55px;
}

#box-size {
    width: 600px;
    height: 200px;
    margin-top: 50px;
    margin-left: 10px
}
.shift3 {
    margin-left: 130px;
    margin-top: 50px;
    display: inline;
    float: left;

}

#move {
    display: block;
    margin-left: 450px;
    margin-top: 40px;
}