body {
    background-image: url("basketball-hoop.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 68px;
    text-align: center;
    color: black;
    opacity: .95;
}

.navbar-custom {
    background-color: white;
    height: 80px;
    opacity: .9
}

.navbar-nav a {
    color: black;
    font-size: 30px;
    font-family: 'Questrial', sans-serif;
}

.navbar-nav {
    text-align: center;
    margin: auto !important;
    float: none !important;
}
.navbar-nav li {
    float: none !important;
    display: inline-block;
}


.box {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 50px;
    min-height: 900px;
}


#inner-box {
    display: inline-block;
    font-size: 22px;
    padding: 0px 120px 0px 120px;
    font-family: 'Questrial', sans-serif;
}

.font-change {
    font-family: 'Questrial', sans-serif;
    padding: 40px 0px 0px 120px
}
